#h1 {
  color: rgb(19, 151, 151);
}
#h2 {
  background-color: rgb(66, 189, 189);
  color: white;
  padding: 2px 8px;
  font-size: 15px;
}
.p1 {
  li a {
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease;
  }
}
.p1 {
  li a:hover {
    color: rgb(228, 228, 19);
  }
}
.p1 {
  li {
    color: gray;
  }
}
.d1 {
  background-color: rgb(194, 186, 186);
  width: 560px;
  height: 470px;
  border: 15px solid white;
  padding: 15px;
  padding-bottom: 6px;
  color: rgb(66, 68, 189);
}
.MENU {
  p {
    border: 2px solid lightgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: white;
  }
}
.MENU {
  a {
    color: palevioletred;
    text-decoration: none;
  }
}
