.prn {
  a {
    text-decoration: none;
    color: black;
  }
}
#h2 {
  max-width: 720px;
  position: relative;
  margin: auto;
  text-decoration: none;
}
.next {
  a {
    text-decoration: none;
    color: black;
  }
}
.next {
  text-align: right;
}
.MENU {
  p {
    border: 2px solid lightgray;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: white;
  }
}
.MENU {
  a {
    color: palevioletred;
    text-decoration: none;
  }
}
